<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Info polen</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Inicio
    </a>
    
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @infopolens.each do |infopolen| %>
      
          <li>
            <a href="<%= url_for :action => :show, :query => {:id => infopolen['_id']} %>">
              <%= infopolen['ESTACIONES'] %> (<%= infopolen['TIPOS_POLINICOS'] %>)
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
